/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  /*font-family: 'Hiragino Kaku Gothic Pro', sans-serif;*/
}

h2 {
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.btn {
  /*display: inline-block;*/
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #0c0;
  opacity: 0.8;
  transition: all .3s;
}

.btn:hover {
  opacity: 1.0;
}

.header {
  z-index: 10;
  position: fixed;
  top:0;
  width: 100%;
  line-height: 50px;
  border-bottom: 1px solid #9cc;
  background-color: #9ff;
  opacity: 0.6;
}

.header-left {
  float: left;
}

.header-right a{
  display: inline-block;
  float: right;
  padding: 5px 10px;
}

.top-section {
  height: 300px;
  width: 100%;
  background-color: #cff;
}

.top-contents {
  height: 300px;
  padding: 130px 0 70px 0;
  text-align: center;
}

.middle-section {
  background-color: #fff;
}

.middle-contents {
  text-align: center;
  /*overflow: hidden;*/
  clear: left;
}
.middle-contents h2 {
  padding: 80px 0 30px 0;
}

.box {
  /*float:left;*/
  position: relative;
  display: inline-block;
  width: 25%;
  /*margin: 0 auto;*/
  padding: 10px;
  opacity: 0.7;
  transition: all 0.3s;
}


/*.dra {
  position: relative;
}*/

.result {
  display: none;
  position: absolute;
  top: 42%;
  left: 42%;
}

.active {
  /*border: 1px dotted #999;*/
  display: inline-block;
  opacity: 1.0;
}

.done {
  z-index: 10;
  background-color: #888;
  opacity: 1.0;
}

.box-text {
  color: #fff;
}
